@tailwind base;
@tailwind components;
@tailwind utilities;
/* ANIMATION */

.toBottom {
  animation: fromTopToBottom 1s ease-out;
}
.toTop {
  animation: fromBottomToTop 1s ease-out;
}
.toRight {
  animation: fromLeftToRight 1s ease-out;
}
.toRight {
  animation: fromLeftToRight 1s ease-out;
}
.toLeft {
  animation: fromRightToLeft 1s ease-out;
}

.showingUp {
  animation: appear 1s ease-out;
}

.popUp {
  animation: popUp 1s ease-out both;
}
.loader {
  @apply w-10 h-10 ease-linear border-4 border-gray-200 rounded-full;
  border-top-color: #315499;
  animation: spinner 1.2s linear infinite;
}
.smallLoader {
  @apply w-8 h-8 ease-linear border-4 border-gray-200 rounded-full;
  border-top-color: #315499;
  animation: spinner 1.2s linear infinite;
}
.xSmallLoader {
  @apply w-4 h-4 ease-linear border-4 border-gray-200 rounded-full;
  border-top-color: #315499;
  animation: spinner 1.2s linear infinite;
}
.hugeLoader {
  @apply w-20 h-20 ease-linear border-8 border-gray-200 rounded-full;
  border-top-color: #315499;
  animation: spinner 1.2s linear infinite;
}
.screenLoader {
  @apply w-20 h-20  border-8 md:w-40 md:h-40 md:border-[16px] ease-linear  border-gray-200 rounded-full;
  border-top-color: #315499;
  animation: spinner 0.5s ease-in-out infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fromTopToBottom {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fromBottomToTop {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fromLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fromRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes popUp {
  0% {
    scale: 0.5;
  }

  100% {
    scale: 1;
  }
}
