@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  color: whitesmoke;
  transition: all 0.2s ease-out;
  border: 2px solid transparent;
  background-color: #315499;
  box-shadow: 4px 4px 10px #000000;
  @apply rounded-md tracking-[0.2rem] pl-6 pr-6 font-bebas_neue;
}

.textBtn {
  transition: all 0.2s ease-out;
}

@media (hover: hover) {
  .btn:hover {
    background-color: transparent;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    box-shadow: 0px 0px 10px #ffffff;
    @apply text-highlight;
  }

  .textBtn:hover {
    text-shadow: 2px 2px 7px rgba(255, 255, 255, 0.781);
    @apply text-highlight;
  }
}
